.bigDiv {
    height: 900px;
}


/* .vstroyka {
    display: grid;
    grid-template-areas: "card card";
} */


/* 
.card {
    grid-area: card car;
} */


/* .card img {
    max-height: 140px;
    max-width: 300px;
} */

p {
    text-align: justify;
}


.grafik, .rabota {
    text-align: center;
}
.grafik p, .rabota{
    text-align: center;
}

.grafik ol, .rabota {
    list-style-type: none;
    text-decoration: none;
    padding: 0px;
    justify-content: center;
}